DATABASE_MIGRATOR_URL=postgresql://webmail_migrator:replace-with-DB_MIGRATOR_PASSWORD@127.0.0.1:5432/webmail
DATABASE_TEST_URL=postgresql://webmail_migrator:replace-with-DB_MIGRATOR_PASSWORD@127.0.0.1:5432/webmail_test
